# Configuration file
# Generated on 15.12.12 14:33

####################
# block
####################

block {
    I:accelerator=4062
}


####################
# item
####################

item {
    I:canned.uu=31712
    I:liquid.uu=31715
}


